<html xmlns:th="http://www.thymeleaf.org">
<head>
<!--<meta http-equiv="Content-Type" content="text/html; charset=utf-8">-->
<title>Google Pie Chart using Spring</title>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" th:inline="javascript">
	//Load data from server
	var chartData = /*[[${pieDataList}]]*/'';
	
	//Load chart package
    google.charts.load('current', {'packages':['corechart']});
       
    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);
    
    // Callback that creates and populates a data table,
    // instantiates the pie chart, passes in the data and
    // draws it.    
    function drawChart() {
        // Create the data table.        
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Country');
        data.addColumn('number', 'Area(square km)');
        /*for(i = 0; i < chartData.length; i++) {
            data.addRow([ chartData[i].key, Number(chartData[i].value) ]);
        }*/
        //Or
        chartData.forEach(c => data.addRow([ c.key, Number(c.value) ]));
                                                                
        // Set chart options
        var options = {
            'title' : 'Area-wise Top Seven Countries in the World',
            is3D : true,
            pieSliceText: 'label',
            tooltip :  {showColorCode: true},
            'width' : 900,
            'height' : 500
        };
        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
</script>
</head>
<body>
    <div style="width: 600px;">
        <div id="chart_div"></div>
    </div>
</body>
</html>
